body {
	font-family: Mountains of Christmas;
	background-image: url(https://artfiles.alphacoders.com/926/92647.jpg);
	background-size: cover;
}
.drew {
	margin-left: 30%;
}
img {
	float: left;
	width: 30%;
	transform: rotate(90deg);
	border-radius: 20%;
	margin-top: -8%;
}
