/*----------------------------------*/
/* MAIN BODY */
/*----------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background: white;
	color: black;
	font-family: "Lato", 'arial', 'sans-serif';
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/*----------------------------------*/
/* REUSABLE COMPONENTS */
/*----------------------------------*/
.row {
	max-width: 1140px;
	margin: 0 auto; /* row will now be centered*/
}
.section {
	padding: 80px 0;
}
.box {
	padding: 1%;
}
/* ------------HEADINGS------------ */

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
}
h1 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	font-size: 240%;
	word-spacing: 3px;
	letter-spacing: 1px;
}

h2 {
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
	text-decoration: none;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #e67e22;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;

}
.col:first-child { margin-left: 0; }
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.span-3-of-3 {
	width: 100%; 
}

.span-2-of-3 {
	width: 66.13%; 
}

.span-1-of-3 {
	width: 32.26%; 
}
.span-4-of-4 {
	width: 100%; 
}

.span-3-of-4 {
	width: 74.6%; 
}

.span-2-of-4 {
	width: 49.2%; 
}

.span-1-of-4 {
	width: 23.8%; 
}


/*-------PARAGRAPHS--------*/

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box p {
	font-size: 90%;
	line-height: 145%;
}

/*-------BUTTONS-------*/

.btn:hover,
.btn:active {
	background-color: #cf6d17;
}

.btn:link,
.btn:visited,
input[type=submit] {
	display: inline-block;
	padding: 10px 30px;
	font-weight: 300;
	text-decoration: none;
	border-radius: 200px;
	color: #fff;
	transition: background-color 0.2s;
}
.btn-full:link,
.btn-full:visited,
input[type=submit] {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
	background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active,
input[type=submit] {
	border: 1px solid #cf6d17;
	
}
.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid #cf6d17;
	color: #fff;
}

/*----------------------------------*/
/* HEADER */
/*----------------------------------*/
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(hero.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.hero-textbox {
	position: absolute;
	width: 1140px;
	padding-top: 400px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.logo {
	height: 100px;
	width: auto;
	float: left;
	margin-top: 20px;
}

.main-nav {
	float: right;
	list-style: none;
	text-decoration: none;
	margin-top: 60px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0; /* 	ADDS PADDING TO BORDER TEXT */
	color: #fff; /* CHANGES TEXT TO WHITE */
	text-decoration: none; /* GETS RID OF UNDERLINE */
	font-size: 90%;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 2px solid #e67e22;
}
.span-1-of-4 {
	width: 23.8%; 
}

/*----------------------------------*/
/* MEALS */
/*----------------------------------*/

.section-meals {
	padding: 0;
}
.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}
.meal-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}
/*-----MAKES PHOTOS FULL--------*/
.meal-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
}
.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.03);
}
/*-----FEATURES--------*/
.section-features .long-copy {
	margin-bottom: 30px;
}
.span-1-of-2 {
	width: 49.2%;
}
/*-----HOW IT WORKS--------*/

.section-steps {
	background-color: #f4f4f4;
}

.steps-box:first-child {
	text-align: right;
	padding-right: 3%;
	margin-top: 30px;
}
.steps-box:last-child {
	padding-left: 3%;
	margin-top: 70px;
}
.app-screen {
	width: 40%;
}
.works-step {
	margin-bottom: 50px;
}
.works-step:last-of-type {
	margin-bottom: 80px;
}
.works-step div {
	color: #e67e22;
	border: 2px solid #e67e22;
	display: inline-block;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	text-align: center;
	padding: 5px;
	float: left;
	font-size: 150%;
	margin-right: 25px;
}
/*-----CITIES--------*/

.city {
	height: 150px;
	width: auto;
}
.span-1-of-4 {
	float: left;
	text-align: left;
	text-decoration: none;
	font-style: none;
	color: black;
}
.row h2 {
	color: black;
	margin-top: 30px;
	text-decoration: none;
	border: none;
}

.box img {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
}

/*-----TESTIMONIALS--------*/

.section-testimonials {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(back-customers.jpg);
	background-size: cover;
	color: white;
	background-attachment: fixed;
}
.blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative; /*MUST MAKE RELATIVE FOR BELOW TO BE ABSOLUTE */
	margin-top: 40px;
}
.blockquote:before {
	content: "\201C";
	font-size: 500%;
	display: block;
	position: absolute; /*MUST MAKE PARENT ABSOLUTE TO WORK*/
	top: -5px;
	left: -5px;
}
cite {
	font-size: 90%;
	margin-top: 25px;
	display: block; /*MAKES IMAGE BE ON ITS OWN */
}
cite img {
	height: 45px;
	border-radius: 50%;
	margin-right: 10px;
	vertical-align: middle; /*PUTS TEXT IN MIDDLE OF IMAGE */
}

/*-----SIGN UP--------*/

.section-plans {
	background-color: #f4f4f4;
}
.plan-box {

}

/*-----CONTACT FORM--------*/

.contact-form {
	width: 60%;
	margin: 0 auto; /* WILL CENTER IT */
}

input[type=text],
input[type=email],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc; /* GETS RID OF BULKY SHADOWS AROUND BOXES */
}
input[type=checkbox] {
	margin: 10px 5px 10px 0;
}
*:focus {outline: none;}

/*-----FOOTER--------*/
header {
	background-color: #333;
}

.footer-nav {
	list-style: none;
	float: left;
}
.social-links {
	list-style: none;
	float: right;
}
.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}
