body {
	background-image: url(https://wallpaperplay.com/walls/full/4/e/5/242841.jpg);
	background-size: cover;
	font-family: Mountains of Christmas;
}
h1, h3 {
	color: white;
}
.steve {
	margin-left: 30%;
}
img {
	float: left;
	width: 30%;
	transform: rotate(90deg);
	border-radius: 20%;
	margin-top: -8%;
}